.avatar {
    width: 150px;
    height: 150px;
    margin: 10px auto 10px auto;
    object-fit: cover;
}
.navbar {
    font-size: 16px;
}

.h1 {
    font-size: 1 rem;
}

a, h3.article-title a:hover {
    color: #454545;
    text-decoration: none;
    transition: color .6s ease;
}

.navbar .navbar-nav .nav-link.active {
    font-weight: 700!important;
    color: #454545!important;
}

.experience .m-2 .border.exp-fill {
    background-color: #454545!important;
}
.experience .m-2 .border, .experience .col.border-right {
    border-color: #454545!important;
}

.btn-outline-primary {
    color: #454545;
    border-color: #454545;
}

a {
    color: #454545;
    text-decoration: none;
    background-color: transparent;
}